@import "./_reset.scss";

@import "./mixins.scss";

body {
  background-color: $background;
  color: $textColor;
  font-family: "Roboto", sans-serif;
}
// search form
.search-form {
  min-height: 50vh;
  @include bgAlign("../images/cocktail-bg.jpg");
  @include flex(center, center, column);
  h2 {
    font-size: 3em;
    font-family: "Black Ops One", cursive;
    text-transform: capitalize;
    margin-bottom: 50px;
  }
  input {
    width: 80%;
    max-width: 600px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: $textColor;
    padding: 10px;
    color: $backgroundLight;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 12px;
    &::placeholder {
      color: $backgroundLight;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 12px;
    }
    &:focus {
      border: 2px solid $border;
    }
  }
}

// preloader
.loading {
  width: 100px;
  height: 100px;
  margin: 15px auto;
  text-align: center;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
 
}



// title
.title {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Black Ops One", cursive;
  text-transform: capitalize;
  padding: 50px 0;
  
}
.hide {
  display: none;
}
// center section

.section-center {
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    &.hide{
      display: none;
    }
  a {
    text-decoration: none;
    color: $textColor;
    text-transform: capitalize;
    .cocktail {
      position: relative;
      img {
        width: 100%;
        border-radius: 10px;
        border: 2px solid $border;
      }
      h3{
        position: absolute;
        bottom: -5px;
        right: -10px;
        background-color: $backgroundLight;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (min-width: 460px) {
  .section-center {
    display: grid;
    grid-template-columns:repeat(auto-fill ,minmax(150px,auto))
    
  }
  .search-form input{
    height: 35px;
    font-size: 14px;
    &::placeholder{
      font-size: 14px;
    }
  }
  .search-form h2{
    font-size: 3.2rem;
  }
  .section .title{
    font-size: 18px;
  }
}
@media screen and (min-width: 750px) {
  .section-center {
    display: grid;
    grid-template-columns:repeat(auto-fill ,minmax(180px,1fr)) 
    
  }
  .search-form input{
    height: 40px;
    font-size: 16px;
    &::placeholder{
      font-size: 16px;
    }
    
  }
  .search-form h2{
    font-size: 3.6rem;
  }
  .section .title{
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    display: grid;
    grid-template-columns:repeat(auto-fill ,minmax(200px,1fr)) 
    
  }
  .search-form h2{
    font-size: 4rem;
  }
  .section .title{
    font-size: 28px;
  }
}